@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & display=swap');

@font-face{
       font-family: 'android';
    src: url('../fontes/idroid.otf') format('opentype')
    font-weight normal;
}
  

:root {
     --cor1:  #c5ebd6;
     --cor2: #83e1ad;
     --cor3: #3ddc84;
     --cor4:#2fa866;
     --cor5:#063d1e;

     --fontes-padrão: arial, verdana, helvetica,sans-serif;
     --fontes-destaque:'Bebas Neue', cursive; 
     --fonte-android: 'android',cursive;


}

*{
   margin: 0px;
   padding: 0px ; 
}

main p{
    margin: 15px 0px 15px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
}

main strong{
    color: #3ddc84;
    font-weight: bold;
    padding: 2px 6px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fontes-destaque);
}

header{
    background-image: linear-gradient(to bottom, var(--cor3),  var(--cor5) );
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: var(--cor3);
    font-family: var(--fonte-android);
    font-size: 3em ;
    font-weight: normal;
   margin-bottom: 20px;
   text-shadow: 2px 2px 0px rgba(58, 18, 18, 0.527); 
}

header > p{
    color: white;
    font-family: var(--fontes-destaque);
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
    margin: auto;
   
    text-shadow: 2px 2px 0px rgba(58, 18, 18, 0.527); 
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.452);
}

nav > a{
    color: var(--cor3);
    padding: 10px;
    border-radius:5px; 
    text-decoration: none;
    font-weight: bolder;
    transition-duration: 0.8s;
    margin-bottom: 30px;
}

nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor4);
}

main{
    min-width: 300px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0p;
    
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: #3ddc84;
    padding: 2px 6px;
}

main a:hover{
    text-decoration:underline;
    color:var(--cor3);
}

main img{
    width: 100%;
}
main img.pequeno{
    max-width: 360px;
    display: block;
    margin: auto;
}

main h1{
    color: var(--cor4);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;

}

main h2{
    font-family: var(--fonte-android);
    background-color:  var(--cor4);
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right,  var(--cor1) transparent);
    text-indent: 10px;
}

div.video{
    background-color: var(--cor5);
    margin-bottom:20px ;
    margin:  0px -20px 30px -20px  ;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

div.video > iframe{
position: absolute;
top: 5%;
left: 5%;
width: 90%;
height: 90%;
}

aside{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px; ;
  
  
}
aside > h3 {
background-color: var(--cor5);
color: white;
padding: 10px;
margin: -10px -10px 0px -10px;
}

aside  ul{
    list-style-type: '\2714\00A0'
    list-style-position inside;
   columns: 2;
    
}

footer{
    background-color: var(--cor3);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a{
    color: var(--cor4);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--cor4);

}